@font-face {
  font-family: "ZenDots";
  src: url("/fonts/Zen_Dots/ZenDots-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

* {
  font-family: "Nunito Sans", Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 700;
}

button {
  border-radius: 4px;
  border-width: 1px;
  padding: 0.7rem 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Nunito Sans", Helvetica, sans-serif;
  background-color: #2a2b35;
  color: #e3e3e3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  border-color: #5a5a8a;
  background-color: #32333f;
  color: #fff;
  box-shadow: 0 2px 8px rgba(90, 90, 138, 0.4);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.item {
  font-size: 1.1rem;
}

.bg {
  background-color: #fff;
  height: 500px;
  padding: 100px;
}

.neuron {
  font-family: "Michroma", sans-serif;
  font-size: 200px;
  color: #1b3a80;
}

.nine {
  font-family: "Montserrat", sans-serif;
  font-size: 200px;
  color: #b00000;
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
