.content {
  display: flex;
  flex: 1; /* take all remaining space below header */
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.gridWrapper {
  width: 300px; /* initial width of grid */
  height: 100%;
  min-width: 500px;
  max-width: 95%;
  background: #f3f3f3;
  overflow: auto;
}

.dragHandle {
  width: 5px;
  cursor: col-resize;
  background: rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  user-select: none;
}
