.content {
  display: flex;
  flex-direction: row;
}

.ravenGrid {
  flex: 1;
  height: 100%;
}

/* folder icons */
.folderLinkCell:hover .iconFolderClosed {
  opacity: 0;
}

.folderLinkCell:hover .iconFolderOpen {
  opacity: 1;
}

.folderLinkCell {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  color: #e3e3e3;
}

.iconFolderOpen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.iconFolderClosed {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

.artistNameCell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.artistNameCell:hover {
  text-decoration: underline;
}

.dateCell {
  width: 100%;
  height: 100%;
  font-family: "Source Code Pro", monospace;
  font-size: 0.85rem;
}

.checkboxCell {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  align-items: center;
}

.checkboxChecked {
  color: #a8b2b8;
}

.textCell {
  transition: all 0.1s ease-in-out;
}

.textCell:hover {
  font-size: 1.1em;
}

/* AG Grid style overrides */
:global(.ag-header-cell-text) {
  font-weight: bold;
  font-size: 1.15em;
}

:global(.ag-header-cell[col-id="isMulti"] .ag-header-cell-label) {
  justify-content: center;
  text-align: center;
}

:global(.ag-center-aligned-cell) {
  /* hack: this class doesn't seem to exist in AG Grid, but it should. */
  text-align: center;
}

:global(.ag-row:nth-child(even)) {
  background-color: rgb(48, 48, 48);
}

:global(.ag-row) {
  cursor: pointer;
}

:global(.ag-cell[col-id="isMulti"]) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.ag-cell) * {
  transition: all 0.1s ease-in-out;
}

:global(.ag-cell:hover) .folderLinkCell {
  width: 26px;
  height: 26px;
  color: #fff;
}

:global(.ag-cell:hover) .checkboxCell {
  width: 22px;
  height: 22px;
}

:global(.ag-cell:hover) .artistNameCell,
:global(.ag-cell:hover) .dateCell {
  font-size: 1.1em;
}
