.clientArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  padding: 1rem 0 0 1rem;
  background-color: var(--color-void);
  color: var(--color-ember);
  box-sizing: border-box;
  height: 100%;
}

.empty {
  margin: 1rem;
}
