.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e7eb;
  color: #2e3440;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  border-bottom: 1px solid #22d3ee;
}

.app_info {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.app_logo {
  height: 65px;
  width: auto;
}

.app_title {
  font-family: "ZenDots", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  color: #2e3440;
}

.app_controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 0.5rem;
}

.rg_icon {
  height: 50px;
  width: auto;
  margin-right: 0.5rem;
}
