.header {
  display: flex;
  justify-content: space-between;
  background-color: #e5e7eb;
  color: #2e3440;
  height: 80px;
  width: 100%;
}

.appInfo {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.appLogo {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.appTitle {
  font-family: "ZenDots", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  color: #2e3440;
}

.appControls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 0.5rem;
}

.rgIcon {
  height: 50px;
  width: auto;
  margin-right: 0.5rem;
}
